name: Custom build

on:
  workflow_dispatch:
  push:
    branches:
      - custom
jobs:
  build:
    uses: ./.github/workflows/build-reusable.yaml
    with:
      artifact-name: build
      os: '["ubuntu-24.04"]'
      mode: '["linux"]'
      target: '["rv32gc-ilp32d","rv64gc-lp64d"]'
      compiler: '["gcc"]'
      languages: '["c"]'
      strip: 'stripped'
      report: false
      sim: '["qemu"]'
      build-sim: true