name: Custom Release

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yaml
    with:
      artifact-name: build
      os: '["ubuntu-24.04"]'
      mode: '["linux"]'
      target: '["rv32gc-ilp32d","rv64gc-lp64d"]'
      compiler: '["gcc"]'
      languages: '["c"]'
      strip: 'stripped'
      report: false
      sim: '["qemu"]'

  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      datestamp: ${{ env.DATESTAMP }}
    env:
      ARTIFACTS_DIR: artifacts
    steps:
      - name:  Run Configuration Commands
        id: metadata
        run: |
          DATESTAMP="$(date --utc '+%Y.%m.%d')"
          echo "Version: ${DATESTAMP}-custom"

          # Setup environment variables
          echo "datestamp=${DATESTAMP}" >> $GITHUB_OUTPUT
          echo "dateword=$(date --utc '+%B %d, %Y')" >> $GITHUB_OUTPUT
        shell: bash
      - name: Download Built Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ env.ARTIFACTS_DIR }}
          merge-multiple: true
      - name: List downloaded artifacts
        run: |
          echo "Contents of ${{ env.ARTIFACTS_DIR }}"
          ls -R ${{ env.ARTIFACTS_DIR }}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.metadata.outputs.datestamp }}
          name: "Custom: ${{ steps.metadata.outputs.dateword }}"
          body: |
            **Custom Release**
            ${{ steps.metadata.outputs.datestamp }}-custom
          draft: false
          files: |
            ${{ env.ARTIFACTS_DIR }}/*
